<div style="margin-left: 15px;">
    <h1>Recipes</h1>
<h3>Search recipes: </h3>
    <table>
    <tr>
    <td>Recipe name: </td>
    <td><input type="text" name="recipeName" [(ngModel)]="recipeName"></td>
    </tr>
    <tr>
    <td>Recipe ingredient: </td>
    <td><select name="ingredient" [(ngModel)]="ingredient">
            <option  *ngFor="let i of ingredients">{{i}}</option>
        </select>
    </td>
    </tr>
    </table>
    <div style="margin: 20px;">
    <button style="margin-right: 20px;" mat-raised-button (click)="SearchRecipes()">Search</button>
    <button mat-raised-button (click)="Reset()">Reset</button>
    </div>
    <div *ngFor="let recipe of recipes">
        <mat-card class="example-card">
            <mat-card-header>
            <mat-card-title>{{recipe.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
            <p>{{recipe.preparationDescription}}</p>
            <ul *ngFor="let ingredient of recipe.ingredients">
                <li>{{ingredient.name}}; {{ingredient.quantity}} {{ingredient.measurementUnit}}s</li>
            </ul>
            <mat-divider></mat-divider>
            <mat-card-actions>
                <button mat-button mat-raised-button color="warn" *ngIf="isAdmin" (click)="Delete(recipe.id)">DELETE</button>
                <button mat-raised-button *ngIf="isUser && !recipe.bookmarked" (click)="Bookmark(recipe)">BOOKMARK</button>
                <button mat-button *ngIf="isUser && recipe.bookmarked">BOOKMARKED</button>
            </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
</div>