<div>
<button mat-button routerLink="/login" *ngIf="userNotLogedIn">
  Login
</button>
<button mat-button [routerLink]="[ '/register', userTypeToRegister]" *ngIf="userNotLogedIn">
  Register
</button>
<button mat-button *ngIf="isAdmin" routerLink="/cooks" >
  Cooks
</button>
<button mat-button *ngIf="isAdmin" [routerLink]="[ '/register', userTypeToRegister]">
  Register new cook
</button>
<button mat-button routerLink="/ingredients" *ngIf="isAdmin" >
  Ingredients
</button>
<button mat-button routerLink="/addrecipe" *ngIf="isCook" >
  Add recipe
</button>
<button mat-button *ngIf="isCook" [routerLink]="[ '/cook', '']">
  Your recipes
</button>
<button mat-button routerLink="/recipes">
  Recipes
</button>
<button mat-button routerLink="/bookmarkedrecipes" *ngIf="isOrdinaryUser" >
  Bookmarked recipes
</button>
<button mat-button (click)="LogOut()" *ngIf="!userNotLogedIn">
  Log out
</button>
<router-outlet></router-outlet>
</div>

