<h1>Cooks</h1>
<table mat-table [dataSource]="cooks" class="mat-elevation-z8 ingredient-table">
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>
  
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef> First name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>
    <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef> Last name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>
    <ng-container matColumnDef="recipes">
        <th mat-header-cell *matHeaderCellDef> Number of recipes </th>
        <td mat-cell *matCellDef="let element"> {{element.numberOfRecipes}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Details </th>
        <td mat-cell *matCellDef="let element"> <button (click)="goToCook(element.username)">More details</button> </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>